/* ----- General reset ----- */
* {
    box-sizing: border-box;
    margin: 0 auto;
}


/* ----- Page and the container section: centering, text positioning, 
background and shadow styling ----- */
body, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
    background: rgb(150,150,150);
    background: linear-gradient(90deg, rgba(150,150,150,1) 0%, rgba(240,240,240,1) 50%, rgba(150,150,150,1) 100%);
}

.container {
    width: 50%;
    height: 65%;
    background-color: rgb(36, 35, 52);
    color: white;
    justify-content: space-between;
    box-shadow: 0 1rem 1rem black;
    border-radius: 5px;
}


/* ----- Text styling and positioning ----- */
h2, ul {
    padding: 2rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    text-align: center;
    padding: 1rem 0;
    margin: 10px 0;
}

li:hover {
    background-color: rgb(42, 40, 165);
}

li, label {
    cursor: pointer;
}

label {
    padding-left: 1rem;
    font-size: 1.2rem;
}


/* ----- Button color, background and behavior styling ----- */
button {
    width: 100%;
    height: 4rem;
    background-color: orange;
    border: 1px solid orange;
    font-size: 1.5rem;
    color: rgb(36, 35, 52);
    border-radius: 0 0 5px 5px;
}

button:hover {
    background-color: rgb(29, 196, 0);
    border: 1px solid rgb(29, 196, 0);
}